body {
    display: grid;
    grid-template-columns: 30% 70%
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

nav {
    background-color: yellow;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}