body {
    display: grid;
    grid-template-columns: 75% 21% 4%;
    grid-template-rows: 5% 6% 94.5% 3%;
    grid-template-areas:
        "header photo aside"
        "nav photo aside"
        "main photo aside"
        "footer footer footer";
}

nav {
    background-color: #110B0A;
    color: #E6B9A5;
    font-size: 2.2em;
    padding: 2vh
}


nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
}

nav>ul>li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: #110B0A;
    padding: 0;
    width: 100%;
    display: none;
}

nav>ul>li:hover ul {
    display: block;
}

.photo img {
    width: 90%;
    height: 90%;
    padding: 5vh;
}

.home {
    padding: 19vh;
}

aside {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 10em;
}

h1 {
    letter-spacing: 4px;
    word-spacing: 6px;
}

p1 {
    letter-spacing: 2px;
    word-spacing: 3px;
}

a {color: #E6B9A5;}
a:hover { color: white;}

form { max-width:600px; margin:50px auto; }

.contact {
  color:white;
  font-weight:500;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid white;
  transition: all 0.3s;
  padding: 18px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

textarea {
  height: 200px;
  line-height: 200%;
  resize:vertical;
}

.contact:focus { border:2px solid #7D2F5F; }

[type="submit"] {
  width: 100%;
  background:white;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:#110B0A;
  font-size:34px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  font-weight:700;
}
[type="submit"]:hover { background:#7D2F5F; }

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
div.gallery:hover {
    background:#7D2F5F;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }

article {
    column-count: 3;
    column-width: 150px;
  }