body {
    display: grid;
    grid-template-columns: 71% 21% 8%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav photo aside"
        "main photo aside"
        "footer footer footer";
}

nav {
    background-color: #110B0A;
    color: #E6B9A5;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
}

nav>ul>li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: #7D2F5F;
    padding: 0;
    width: 100%;
    display: none;
}

nav>ul>li:hover ul {
    display: block;
}

.photo img {
    width: 95%;
    padding: 2vh;
}

.home {
    padding: 8vh;
}